
.bg-custom-gradient {
  background-color: #ddfefe;
  background: linear-gradient(to right, #70ffff, #ddfefe);
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  min-width: 25px;
  top: 0;
  bottom: 0;
}

#carouselCaptions {
  background-color: #303030;
  background: linear-gradient(to right, #303030, #5d5d5d);
  color: #1dfecd !important;
  font-size: 1rem;
}

.card-body h3 {
  font-size: 0.75em;
}
